#clockContainer{
    position: relative;
    background-image: url(images/clock.png);
    width: 40vw;
    height: 40vw;
    background-size: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
}

#hour,#minute,#second{
    position: absolute;
    background-color: rgb(13, 13, 44);
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 25.7%;
    left: 49.44%;
    top: 24.6%;
    opacity: 0.8;
}

#minute{
    width: 1.7%;
    height: 30.7%;
    left: 49.49%;
    top: 19.9%;
    opacity: 0.8;
}

#second{
    width: 1.4%;
    height: 35.7%;
    left: 49.7%;
    top: 14.7%;
    opacity: 0.8;
}